.app-top{
	background-color: #0769AD;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 50px;

}
.answer{
	color: #0769AD;
}

.answer-btn{
	color: #0769AD;
	width: 30px;
	height: 30px;
	cursor: pointer;
}


.question-container{
	padding-bottom: 20px;
	min-height: 180px;
}